*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cuerpo{
    text-align: center;
}
.seccion1{
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: darkslategray;
}
.seccion2{
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkslategray;
}
.seccion3{
    width: auto;
    height: auto;
}
